@import "./mixins.scss";

.start {
  background-color: #ffc234;
}

.block__start {
  position: relative;
}

.title__start {
  max-width: rem(480);
  margin: 0 auto;

  &-top {
    margin-top: rem(125);
  }

  &-bottom {
    margin-top: rem(230);

    @media (max-width: 1280px) {
      margin-top: adaptiv-num-rem(120, 230, 1280, 320);
      margin-bottom: adaptiv-num-rem(125, 0, 1280, 480);
    }

    @media (max-width: 480px) {
      margin-bottom: rem(125);
    }
  }

  &-big {
    font-family: "Funnier", "serif";
    font-weight: 400;
    font-size: rem(85);
    line-height: rem(90);
    color: #000000;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(45, 85, 1280, 320);
      line-height: adaptiv-num-rem(70, 90, 1280, 320);
    }
  }

  &-small {
    font-family: "Funnier", "serif";
    font-weight: 400;
    font-size: rem(45);
    line-height: rem(50);
    color: #000000;
    text-align: right;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(25, 45, 1280, 320);
      line-height: adaptiv-num-rem(30, 50, 1280, 320);
    }
  }
}

.img__start {
  position: absolute;
  z-index: 0;
  width: 655px;
  height: 310px;
  left: 0;
  right: 0;
  top: 145px;
  margin: 0 auto;

  @media (max-width: 1280px) {
    width: adaptiv-number(290, 655, 1280, 320);
    height: adaptiv-number(140, 310, 1280, 320);
    top: adaptiv-num-rem(186, 145, 1280, 320);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.block__start-bottom {
  justify-content: space-between;
  padding: rem(50) 0 rem(30) 0;
  align-items: center;
}

.num {
  width: 37px;
  height: 25px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }
}

.mouse {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 30px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }

  &::after {
    content: " ";
    background-image: url(../../public/img/icon/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 8px;
    display: block;
    margin: 0 auto;
  }
}

.idea {
  width: 40px;
  height: 40px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }
}

.section__about {
}

.block-left {
  background-color: #ffffff;
  padding: rem(183) rem(15);

  @media (max-width: 1280px) {
    padding: adaptiv-num-rem(130, 183, 1280, 600) rem(15);
  }

  @media (max-width: 600px) {
    padding: adaptiv-num-rem(120, 183, 600, 320) rem(15);
  }
}

.block-text {
  max-width: rem(568);
  margin: 0 auto;
}

.title__block {
  font-weight: 700;
  font-size: rem(60);
  line-height: rem(64);
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 1280px) {
    font-size: adaptiv-num-rem(40, 60, 1280, 600);
    line-height: adaptiv-num-rem(45, 64, 1280, 600);
  }

  @media (max-width: 600px) {
    font-size: adaptiv-num-rem(40, 60, 600, 320);
    line-height: adaptiv-num-rem(45, 64, 600, 320);
  }

  &-yellow {
    color: #ffc234;
  }
  &-red {
    color: #f10025;
  }
}

.subtitle__block {
  font-weight: 400;
  font-size: rem(20);
  line-height: rem(25);
  color: #000000;
  padding: rem(75) 0;

  @media (max-width: 1280px) {
    font-size: adaptiv-num-rem(16, 20, 1280, 600);
    line-height: adaptiv-num-rem(20, 25, 1280, 600);
    padding: adaptiv-num-rem(55, 75, 1280, 600) 0;
  }

  @media (max-width: 600px) {
    font-size: adaptiv-num-rem(16, 20, 600, 320);
    line-height: adaptiv-num-rem(20, 25, 600, 320);
    padding: adaptiv-num-rem(55, 75, 600, 320) 0;
  }
}

.list__block {
  gap: rem(25);

  li {
    font-style: normal;
    font-weight: 700;
    font-size: rem(20);
    line-height: rem(23);
    text-transform: uppercase;
    color: #000000;
    display: flex;
    align-items: center;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(13, 20, 1280, 600);
      line-height: adaptiv-num-rem(17, 23, 1280, 600);
    }

    @media (max-width: 600px) {
      font-size: adaptiv-num-rem(13, 20, 600, 320);
      line-height: adaptiv-num-rem(17, 23, 600, 320);
    }

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-color: #ffc234;
      margin-right: rem(25);
    }
  }

  &-yellow {
    li {
      &::before {
        background-color: #ffc234;
      }
    }
  }

  &-red {
    li {
      &::before {
        background-color: #f10025;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }
}

.block-red {
  background-color: #f10025;
  padding: rem(15);

  @media (max-width: 600px) {
    padding: adaptiv-num-rem(120, 183, 600, 320) rem(15);
  }
}

.block-yellow {
  background-color: #ffc234;
  padding: rem(15);

  @media (max-width: 600px) {
    padding: adaptiv-num-rem(120, 183, 600, 320) rem(15);
  }
}

.block__img {
  max-width: 351px;
  max-height: 572px;
  margin: auto;

  img {
    width: 100%;
    max-height: 572px;
    object-fit: contain;
  }

  &-rubic {
    max-width: 509px;
    max-height: 509px;

    img {
      max-height: 509px;
    }
  }

  &-contacts {
    max-width: 540px;
    max-height: 322px;

    img {
      max-height: 322px;
    }
  }
}

.portfolio {
  padding-top: rem(185);

  @media (max-width: 600px) {
    padding-top: adaptiv-num-rem(120, 185, 600, 320);
  }
}

.portfolio-main {
}

.portfolio-grid {
  padding-top: rem(185);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
  gap: rem(85);

  @media (max-width: 1280px) {
    gap: adaptiv-num-rem(15, 85, 1280, 1000);
    padding-top: adaptiv-num-rem(100, 185, 1280, 320);
  }

  @media (max-width: 1000px) {
    gap: rem(15);
  }

  @media (max-width: 970px) {
    grid-template-columns: repeat(auto-fit, minmax(rem(240), 1fr));
  }

  @media (max-width: 550px) {
    grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(auto-fit, minmax(rem(160), 1fr));
  }
}

.portfolio__cart {
  cursor: pointer;
  overflow: hidden;

  &-main {
    padding: rem(30);
  }
  &-title {
    font-weight: 400;
    font-size: rem(20);
    line-height: rem(30);
    text-transform: uppercase;
    color: #000000;
    max-width: rem(275);
    padding-top: rem(15);

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(14, 20, 1280, 780);
      line-height: adaptiv-num-rem(22, 30, 1280, 780);
    }

    @media (max-width: 779px) {
      font-size: adaptiv-num-rem(12, 18, 780, 365);
      line-height: adaptiv-num-rem(20, 28, 780, 365);
    }

    @media (max-width: 365px) {
      font-size: rem(12);
      line-height: rem(20);
    }
  }

  &:nth-child(2n + 2) .portfolio__cart-main {
    background-color: #ffc234;
  }
  &:nth-child(2n + 1) .portfolio__cart-main {
    background-color: #f5f5f5;
  }

  @media (max-width: 779px) {
    &:nth-child(1) .portfolio__cart-main,
    &:nth-child(4) .portfolio__cart-main,
    &:nth-child(5) .portfolio__cart-main,
    &:nth-child(8) .portfolio__cart-main,
    &:nth-child(9) .portfolio__cart-main,
    &:nth-child(12) .portfolio__cart-main,
    &:nth-child(13) .portfolio__cart-main,
    &:nth-child(16) .portfolio__cart-main {
      background-color: #f5f5f5;
    }
    &:nth-child(2) .portfolio__cart-main,
    &:nth-child(3) .portfolio__cart-main,
    &:nth-child(6) .portfolio__cart-main,
    &:nth-child(7) .portfolio__cart-main,
    &:nth-child(10) .portfolio__cart-main,
    &:nth-child(11) .portfolio__cart-main,
    &:nth-child(14) .portfolio__cart-main,
    &:nth-child(15) .portfolio__cart-main {
      background-color: #ffc234;
    }
  }

  @media (max-width: 364px) {
    &:nth-child(2n + 1) .portfolio__cart-main {
      background-color: #f5f5f5;
    }
    &:nth-child(2n) .portfolio__cart-main {
      background-color: #ffc234;
    }
  }

  &:hover > .portfolio__cart-main > .cart__img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
}

.cart__img {
  padding: 0 0 60% 0;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.section__contacts {
  padding-top: rem(220);

  @media (max-width: 600px) {
    padding-top: adaptiv-num-rem(120, 185, 600, 320);
  }

  &-main {
    padding-top: rem(170);

    @media (max-width: 600px) {
      padding-top: 0;
    }
  }
}

.contacts-main {
  > h2 {
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.contacts-left {
  padding: rem(55) rem(15);

  @media (max-width: 600px) {
    padding: 0 rem(15) rem(55) rem(15);
  }
}

.contacts__text {
}

.contacts__form {
  width: 100%;
  padding-top: rem(75);
}
