/* scroll to top button */
.btn__top {
  display: block;
  background-image: url(../../public/img/icon/rocket.png);
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 65px;
  width: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    animation: none;
  }
}
