@import "./mixins.scss";

.burgerMenu {
  width: 68px;
  height: 32px;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;

  @media (max-width: 1280px) {
    width: adaptiv-number(55, 68, 1280, 320);
  }

  span {
    width: 70%;
    height: 4px;
    background: #000000;
    position: absolute;
    left: 0;

    @media (max-width: 600px) {
      width: 80%;
    }

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 14px;
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
}
